<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrainingDocumentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TrainingDocumentation.Properties.Settings>
            <setting name="COURSE_TITLE_STRING" serializeAs="String">
                <value>Course title</value>
            </setting>
            <setting name="SUBJECT_DIVIDERS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Subject / Sub topic</string>
                        <string>Lesson / Topic</string>
                        <string>Lesson / Topic / Sub-Topic</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SUBJECT_TOPIC_NAMING" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Subject</string>
                        <string>Lesson</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PART_DIVIDER" serializeAs="String">
                <value>Part</value>
            </setting>
            <setting name="TITLE_SLIDE" serializeAs="String">
                <value>Front page 1</value>
            </setting>
            <setting name="TITLE_SLIDE_MAIN_TITLE_KEYWORD" serializeAs="String">
                <value>equipment</value>
            </setting>
            <setting name="TITLE_SLIDE_SUBTITLE_KEYWORD" serializeAs="String">
                <value>lesson name</value>
            </setting>
            <setting name="DEFAULT_NOTES_TEXT" serializeAs="String">
                <value>**Instructor notes should go in between these asterisks**</value>
            </setting>
            <setting name="DEFAULT_TITLE_SLIDE_NOTES" serializeAs="String">
                <value>Welcome!</value>
            </setting>
            <setting name="DEFAULT_NOTES_ENDING" serializeAs="String">
                <value>Notes:</value>
            </setting>
            <setting name="HEADING1_MARKUP" serializeAs="String">
                <value>*h1*</value>
            </setting>
            <setting name="HEADING2_MARKUP" serializeAs="String">
                <value>*h2*</value>
            </setting>
            <setting name="HEADING3_MARKUP" serializeAs="String">
                <value>*h3*</value>
            </setting>
            <setting name="DEFAULT_TITLE_SLIDE_SUBTITLE" serializeAs="String">
                <value>- RIG NAME -</value>
            </setting>
            <setting name="INTRODUCTION_SUBJECT_TITLE" serializeAs="String">
                <value>Introduction</value>
            </setting>
            <setting name="INTRODUCTION_SLIDE" serializeAs="String">
                <value>Introduction</value>
            </setting>
            <setting name="LESSON_GOAL_SLIDE" serializeAs="String">
                <value>Lesson goal</value>
            </setting>
            <setting name="LESSON_GOAL_OBTAINED_SLIDE" serializeAs="String">
                <value>Then you have obtained</value>
            </setting>
            <setting name="LESSON_GOAL_SLIDE_CONTAINER_KEYWORD" serializeAs="String">
                <value>add lesson goal</value>
            </setting>
            <setting name="LESSON_GOAL_SLIDE_TITLE" serializeAs="String">
                <value>Lesson goal</value>
            </setting>
            <setting name="LESSON_GOAL_OBTAINED_SLIDE_TITLE" serializeAs="String">
                <value>Review of lesson goal</value>
            </setting>
            <setting name="LESSON_OBJECTIVES_SLIDE" serializeAs="String">
                <value>Lesson objectives</value>
            </setting>
            <setting name="LESSON_OBJECTIVES_REVIEW_SLIDE" serializeAs="String">
                <value>By now, you are able to</value>
            </setting>
            <setting name="LESSON_OBJECTIVES_SLIDE_CONTAINER_KEYWORD" serializeAs="String">
                <value>add lesson objectives</value>
            </setting>
            <setting name="LESSON_OBJECTIVES_SLIDE_TITLE" serializeAs="String">
                <value>Lesson objectives</value>
            </setting>
            <setting name="LESSON_OBJECTIVES_REVIEW_SLIDE_TITLE" serializeAs="String">
                <value>Review of lesson objectives</value>
            </setting>
            <setting name="TOPIC_DIVIDER_SLIDE" serializeAs="String">
                <value>Topic divider</value>
            </setting>
            <setting name="TOPIC_DIVIDER_SLIDE_CONTAINER_KEYWORD" serializeAs="String">
                <value>add topic title</value>
            </setting>
            <setting name="INSTRUCTOR_NOTES_MARKUP" serializeAs="String">
                <value>**</value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_OBJECTIVE" serializeAs="String">
                <value>Topic objective: </value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_METHODS" serializeAs="String">
                <value>Topic methods and/or activities: </value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_EVALUATION" serializeAs="String">
                <value>Topic evaluation: </value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_TIME" serializeAs="String">
                <value>Topic time: </value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_MATERIALS" serializeAs="String">
                <value>Topic materials: </value>
            </setting>
            <setting name="TOPIC_DIVIDER_TOPIC_NOTES" serializeAs="String">
                <value>Topic notes: </value>
            </setting>
            <setting name="CONTENT_SLIDE" serializeAs="String">
                <value>REGULAR SLIDE</value>
            </setting>
            <setting name="CONTENT_SLIDE_TITLE_CONTAINER_KEYWORD" serializeAs="String">
                <value>title style</value>
            </setting>
            <setting name="CONTENT_SLIDE_CONTENT_CONTAINER_KEYWORD" serializeAs="String">
                <value>text styles</value>
            </setting>
            <setting name="CONTENT_SLIDE_DEFAULT_CONTENT" serializeAs="String">
                <value>TO DO: add content...</value>
            </setting>
            <setting name="QUESTIONS_SLIDE" serializeAs="String">
                <value>Question slide</value>
            </setting>
            <setting name="QUESTIONS_SLIDE_TITLE" serializeAs="String">
                <value>Questions?</value>
            </setting>
        </TrainingDocumentation.Properties.Settings>
    </userSettings>
</configuration>